<!DOCTYPE html>
<html lang="en">

<head>
  <link href="css/error-style.css" rel="stylesheet">


        <title>403 Forbidden</title>
    </head>
    <body>
        <div class="noise"></div>
			<div class="overlay"></div>
			<div class="terminal">
			  <h1>Error <span class="errorcode">403</span></h1>
			  <p class="output">You don't have permission to access/ on this Server.</p>
			  <p class="output">Please try to <a href="#2">return to the homepage</a>.</p>
			  <p class="output">Good luck.</p>
		</div>
       
    </body>

</html>


